backend/n8n/workflows/payment-handler.json
{
  "name": "Payment Handler - Verificaci贸n de Transferencias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/payment-verification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Verificaci贸n",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "payment-verification-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del evento de verificaci贸n\nconst body = $input.first().json;\n\n// Validar que tenga los datos necesarios\nif (!body.orderId) {\n  throw new Error('orderId es requerido');\n}\n\nreturn {\n  orderId: body.orderId,\n  approved: body.approved || false,\n  verifiedBy: body.verifiedBy || 'seller',\n  verifiedAt: new Date().toISOString(),\n  event: body\n};"
      },
      "id": "validate-event",
      "name": "Validar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-approved",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-payment-approved",
      "name": "驴Pago Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para actualizar orden aprobada\nconst data = $input.first().json;\n\nreturn {\n  orderId: data.orderId,\n  status: 'payment_confirmed',\n  payment_verified_at: data.verifiedAt,\n  verified_by: data.verifiedBy,\n  success: true\n};"
      },
      "id": "prepare-approved-data",
      "name": "Preparar Datos Aprobaci贸n",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://rest-service:3000/api/orders/{{ $json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"payment_verified_at\": \"{{ $json.payment_verified_at }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-order-approved",
      "name": "Actualizar Orden Aprobada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://realtime-service:8085/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"room\": \"order_{{ $('Preparar Datos Aprobaci贸n').item.json.orderId }}\",\n  \"event\": \"PAYMENT_VERIFIED\",\n  \"data\": {\n    \"orderId\": \"{{ $('Preparar Datos Aprobaci贸n').item.json.orderId }}\",\n    \"status\": \"payment_confirmed\",\n    \"message\": \"Tu pago ha sido verificado y aprobado\",\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notify-websocket-approved",
      "name": "Notificar Cliente (WS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rest-service:3000/api/logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"level\": \"info\",\n  \"workflow\": \"payment-handler\",\n  \"event\": \"payment_verified\",\n  \"message\": \"Pago verificado y aprobado por vendedor\",\n  \"data\": {\n    \"orderId\": \"{{ $('Preparar Datos Aprobaci贸n').item.json.orderId }}\",\n    \"status\": \"payment_confirmed\",\n    \"verified_by\": \"{{ $('Preparar Datos Aprobaci贸n').item.json.verified_by }}\"\n  },\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-payment-approved",
      "name": " Log: Pago Aprobado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true,\n  \"status\": \"processed\",\n  \"paymentStatus\": \"approved\",\n  \"orderId\": \"{{ $('Preparar Datos Aprobaci贸n').item.json.orderId }}\",\n  \"notified\": true\n}",
        "options": {}
      },
      "id": "respond-approved",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1790,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para orden rechazada\nconst data = $input.first().json;\n\nreturn {\n  orderId: data.orderId,\n  status: 'payment_rejected',\n  rejected_at: data.verifiedAt,\n  rejected_by: data.verifiedBy,\n  success: false\n};"
      },
      "id": "prepare-rejected-data",
      "name": "Preparar Datos Rechazo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        450
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://rest-service:3000/api/orders/{{ $json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-order-rejected",
      "name": "Marcar Orden Rechazada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://realtime-service:8085/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"room\": \"order_{{ $('Preparar Datos Rechazo').item.json.orderId }}\",\n  \"event\": \"PAYMENT_REJECTED\",\n  \"data\": {\n    \"orderId\": \"{{ $('Preparar Datos Rechazo').item.json.orderId }}\",\n    \"status\": \"payment_rejected\",\n    \"message\": \"Tu comprobante de pago fue rechazado. Por favor, verifica los datos y sube un nuevo comprobante.\",\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notify-websocket-rejected",
      "name": "Notificar Cliente Rechazo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rest-service:3000/api/logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"level\": \"warning\",\n  \"workflow\": \"payment-handler\",\n  \"event\": \"payment_rejected\",\n  \"message\": \"Comprobante de pago rechazado por vendedor\",\n  \"data\": {\n    \"orderId\": \"{{ $('Preparar Datos Rechazo').item.json.orderId }}\",\n    \"status\": \"payment_rejected\",\n    \"rejected_by\": \"{{ $('Preparar Datos Rechazo').item.json.rejected_by }}\"\n  },\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-payment-rejected",
      "name": " Log: Pago Rechazado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true,\n  \"status\": \"processed\",\n  \"paymentStatus\": \"rejected\",\n  \"orderId\": \"{{ $('Preparar Datos Rechazo').item.json.orderId }}\",\n  \"notified\": true\n}",
        "options": {}
      },
      "id": "respond-rejected",
      "name": "Responder Rechazo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1790,
        450
      ]
    }
  ],
  "connections": {
    "Webhook Verificaci贸n": {
      "main": [
        [
          {
            "node": "Validar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Evento": {
      "main": [
        [
          {
            "node": "驴Pago Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Pago Aprobado?": {
      "main": [
        [
          {
            "node": "Preparar Datos Aprobaci贸n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Datos Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Aprobaci贸n": {
      "main": [
        [
          {
            "node": "Actualizar Orden Aprobada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Orden Aprobada": {
      "main": [
        [
          {
            "node": "Notificar Cliente (WS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Cliente (WS)": {
      "main": [
        [
          {
            "node": " Log: Pago Aprobado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Log: Pago Aprobado": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Rechazo": {
      "main": [
        [
          {
            "node": "Marcar Orden Rechazada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Orden Rechazada": {
      "main": [
        [
          {
            "node": "Notificar Cliente Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Cliente Rechazo": {
      "main": [
        [
          {
            "node": " Log: Pago Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Log: Pago Rechazado": {
      "main": [
        [
          {
            "node": "Responder Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}