backend/n8n/workflows/payment-handler.json
{
  "name": "Payment Handler - Stripe Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Stripe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "payment-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validar firma del webhook de Stripe (modo desarrollo: sin verificación)\nconst event = $input.first().json;\n\n// En desarrollo, aceptamos sin verificar firma\nreturn {\n  verified: true,\n  mode: 'development',\n  event: event\n};"
      },
      "id": "validate-signature",
      "name": "Validar Firma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.event.body.type }}",
              "rightValue": "payment_intent.succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-payment-success",
      "name": "¿Pago Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del evento de pago exitoso\nconst event = $input.first().json.event;\nconst body = event.body || event;\nconst paymentIntent = body.data?.object || body.data;\n\nconst orderId = paymentIntent.metadata?.orderId || paymentIntent.metadata?.order_id || 'unknown';\nconst amount = (paymentIntent.amount || 0) / 100;\nconst currency = paymentIntent.currency?.toUpperCase() || 'USD';\nconst paymentId = paymentIntent.id || 'unknown';\n\nreturn {\n  orderId: orderId,\n  paymentId: paymentId,\n  amount: amount,\n  currency: currency,\n  status: 'paid',\n  paidAt: new Date().toISOString(),\n  eventType: body.type,\n  success: true\n};"
      },
      "id": "extract-payment-data",
      "name": "Extraer Datos Pago",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://rest-service:3000/api/orders/{{ $json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"paid\",\n  \"payment_id\": \"{{ $json.paymentId }}\",\n  \"paid_at\": \"{{ $json.paidAt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-order",
      "name": "Actualizar Orden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://realtime-service:8085/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"room\": \"sellers\",\n  \"event\": \"PAYMENT_RECEIVED\",\n  \"data\": {\n    \"orderId\": \"{{ $('Extraer Datos Pago').item.json.orderId }}\",\n    \"amount\": {{ $('Extraer Datos Pago').item.json.amount }},\n    \"currency\": \"{{ $('Extraer Datos Pago').item.json.currency }}\",\n    \"status\": \"paid\",\n    \"message\": \"Nuevo pago recibido\",\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notify-websocket-success",
      "name": "Notificar WebSocket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rest-service:3000/api/logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"level\": \"info\",\n  \"workflow\": \"payment-handler\",\n  \"event\": \"payment_success\",\n  \"message\": \"Pago procesado exitosamente\",\n  \"data\": {\n    \"orderId\": \"{{ $('Extraer Datos Pago').item.json.orderId }}\",\n    \"paymentId\": \"{{ $('Extraer Datos Pago').item.json.paymentId }}\",\n    \"amount\": {{ $('Extraer Datos Pago').item.json.amount }},\n    \"currency\": \"{{ $('Extraer Datos Pago').item.json.currency }}\",\n    \"status\": \"paid\"\n  },\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-payment-success",
      "name": "📝 Log: Pago Exitoso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true,\n  \"status\": \"processed\",\n  \"paymentStatus\": \"success\",\n  \"notified\": true\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del evento de pago fallido\nconst event = $input.first().json.event;\nconst body = event.body || event;\nconst paymentIntent = body.data?.object || body.data;\n\nconst orderId = paymentIntent.metadata?.orderId || paymentIntent.metadata?.order_id || 'unknown';\nconst paymentId = paymentIntent.id || 'unknown';\nconst failureMessage = paymentIntent.last_payment_error?.message || 'Pago rechazado';\n\nreturn {\n  orderId: orderId,\n  paymentId: paymentId,\n  status: 'payment_failed',\n  failureMessage: failureMessage,\n  failedAt: new Date().toISOString(),\n  eventType: body.type,\n  success: false\n};"
      },
      "id": "extract-failure-data",
      "name": "Extraer Datos Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://rest-service:3000/api/orders/{{ $json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"payment_failed\",\n  \"failure_reason\": \"{{ $json.failureMessage }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "update-order-failed",
      "name": "Marcar Orden Fallida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://realtime-service:8085/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"room\": \"sellers\",\n  \"event\": \"PAYMENT_FAILED\",\n  \"data\": {\n    \"orderId\": \"{{ $('Extraer Datos Error').item.json.orderId }}\",\n    \"status\": \"payment_failed\",\n    \"reason\": \"{{ $('Extraer Datos Error').item.json.failureMessage }}\",\n    \"message\": \"Pago fallido\",\n    \"timestamp\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notify-websocket-failed",
      "name": "Notificar WS Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rest-service:3000/api/logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Service",
              "value": "n8n-payment-handler"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"level\": \"error\",\n  \"workflow\": \"payment-handler\",\n  \"event\": \"payment_failed\",\n  \"message\": \"Pago fallido\",\n  \"data\": {\n    \"orderId\": \"{{ $('Extraer Datos Error').item.json.orderId }}\",\n    \"paymentId\": \"{{ $('Extraer Datos Error').item.json.paymentId }}\",\n    \"status\": \"payment_failed\",\n    \"reason\": \"{{ $('Extraer Datos Error').item.json.failureMessage }}\"\n  },\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-payment-failed",
      "name": "📝 Log: Pago Fallido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true,\n  \"status\": \"processed\",\n  \"paymentStatus\": \"failed\",\n  \"notified\": true\n}",
        "options": {}
      },
      "id": "respond-failed",
      "name": "Responder Fallo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 450]
    }
  ],
  "connections": {
    "Webhook Stripe": {
      "main": [
        [
          {
            "node": "Validar Firma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Firma": {
      "main": [
        [
          {
            "node": "¿Pago Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Pago Exitoso?": {
      "main": [
        [
          {
            "node": "Extraer Datos Pago",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Datos Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Pago": {
      "main": [
        [
          {
            "node": "Actualizar Orden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Orden": {
      "main": [
        [
          {
            "node": "Notificar WebSocket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar WebSocket": {
      "main": [
        [
          {
            "node": "📝 Log: Pago Exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: Pago Exitoso": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Error": {
      "main": [
        [
          {
            "node": "Marcar Orden Fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Orden Fallida": {
      "main": [
        [
          {
            "node": "Notificar WS Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar WS Error": {
      "main": [
        [
          {
            "node": "📝 Log: Pago Fallido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log: Pago Fallido": {
      "main": [
        [
          {
            "node": "Responder Fallo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
